@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 400%;
  font-family: 'Wendy One', sans-serif;
  color: #312f2f
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  width: 30px;
  height: 30px;
}

.card-body {


  justify-content: center;
  padding: 15px;


}

.card {

  margin-left: 20px;

  margin-bottom: 20px;
  background-color: #f8f9fa;
  width: 100%;
  height: 95%;

}

.table {
  text-align: center;
}


.table th {
  background-color: #343a40;
  color: #ffffff;
}

.table td {
  background-color: #f8f9fa;
}

.carousel-caption {
  text-align: left;
}

.row {
  margin-bottom: 10px;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;


}

.card img {
  width: 100%;
  height: 100%
}

.card-body .card-title {

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: flex;
}

.form-control,
.custom-select,
.form-select {
  height: 45px;
  border-radius: 0;
}

.btn {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

footer {

  background-color: #000000;
  color: #ffffff;
  margin-top: 20px;
  padding: 20px;

}