@font-face {
  font-family: 'BADABB';
  src: url('../fonts/BADABB__.TTF') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

h1 {
  font-size:400%;
  font-family: 'BADABB', sans-serif;
  color: #312f2f
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
  }
  
  p {
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  }

.titulo {

margin-left: 20px;

}

.text-black {
color: #000; }

.content {
padding: 7rem 0; }

.heading {
font-size: 2.5rem;
font-weight: 900; }

.form-control {
border: none;
border-bottom: 1px solid #ccc;
padding-left: 0;
padding-right: 0;
border-radius: 0;
background: none; }

.form-label {
color: #000;
font-size: 13px; }

.btn, .form-control, .custom-select {
height: 45px;
border-radius: 0; }

.custom-select {
border: none;
border-bottom: 1px solid #ccc;
padding-left: 0;
padding-right: 0;
border-radius: 0; }


.btn {
border: none;
border-radius: 0;
font-size: 11px;
letter-spacing: .2rem;
border-radius: 30px; }
p {
text-align: justify

}

footer {

  background-color: #000000;
  color:#ffffff;
  margin-top: 20px;
  padding: 20px;

}


.bi-instagram{
color:#773292;
margin-right: 15px;
margin-left: 15px;


}

.bi-youtube {
color:#c91a1a;
margin-left: 15px;
}
