@font-face {
    font-family: 'BADABB';
    src: url('../fonts/BADABB__.TTF') format('truetype');
}

h1 {
    font-size:400%;
    font-family: 'BADABB', sans-serif;
    color: #312f2f
}



.titulo {

margin-left: 20px;

}

.form-control {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

.form-check {
  margin-bottom: 15px;
}

.btn-dark {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
p {
  text-align: justify

}

  footer {

    background-color: #000000;
    color:#ffffff;
    margin-top: 20px;
    padding: 20px;

  }


.bi-instagram{
  color:#773292;
  margin-right: 15px;
margin-left: 15px;


}

.bi-youtube {
  color:#c91a1a;
  margin-left: 15px;
}

