
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h1 {
  font-size:400%;
  font-family: 'Wendy One', sans-serif;
  color: #312f2f
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.titulo {

margin-left: 20px;

}

.badge{
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

ul.list-group li:first-child {
    
    background-color: #c6c6c6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
.list-group-item {
border:none;
background-color:#f8f9fa;
margin-top: 10px;


}

.ratio {
    margin-right: 20px;
}
.list-group-item img {
    vertical-align: middle;
    margin-left: 5px;
  }


  .border {
    margin-top: 10px;
    width: 100%;
 

  }

  .rounded-circle {
    margin-left: 15px;
  }
.btn {

margin-left:15px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.popover-body {

  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}



.popover-header {
  background-color: #c6c6c6;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

  footer {

    background-color: #000000;
    color:#ffffff;
    margin-top: 20px;
    padding: 20px;

   
  }

  .table {
    margin-top:10px;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .table th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .table td {
    background-color: #f8f9fa;
  }

  .bi {
    width: 30px;
    height:20px;
    margin-bottom: 6px;
  }
  